<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.oneplus9r.target">

    <overlay
        android:isStatic="true"
        android:priority="850"
        android:requiredSystemPropertyName="ro.oneplus.project"
        android:requiredSystemPropertyValue="OP9R"
        android:targetPackage="android" />
</manifest>
